.ModalTransparent {
    background-color: rgba(40,40,40,0.6);
    border-radius: 10px;
    border: 1px solid #000;
    color: #999;
}

.ModalDark {
    background-color: #222;
    border-radius: 10px;
    border: 1px solid #111;
    color: #999;
    margin: 5.2rem auto
}

.ModalTitle {
    font-size: 1rem;
    font-weight: bold;
}

